* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5a5a5a;
    color: #ffffff;
}

/*aligns nav elements to flex accross width of screen */
nav {
    height: 100px;
    background-color: #359e88;
    align-items: center;
    text-align: right;
    text-decoration: none;
    display: flex;
}

/* Creates circular logo image */
img.logo {
    height: 60px;
    width: 60px;
    padding: 20px;
    border-radius: 50%;
}

/* Nav links will flex across whole navbar width, starting at the right */
nav ul {
    flex: 1;
    float: right;
    /* margin from edge of viewport */
    margin-right: 30px;
}

nav li {
    margin: 0 60px;
    display: inline-block;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
}

/* Changes colour of text when mouse hovered over with smooth transition */
nav a:hover, a:active {
    color: #bbbbbb;
    transition: .3s;
}

.menuButton {
    font-size: 30px;
    float: right;
    margin-right: 30px;
}

#menu{
    display: none;
}